body {
    background: black;
}
header.top {
    background-color: rgb(40,34,37);
    margin: 10px 10px 0px 10px;
    height: 150px;
}
header.top img#XzIbiT {
    float: right;
    height: 154px;
}

section {
    background-color: rgb(40,34,37);
    font-size:        105%;
    margin: 10px 10px 0px 10px;
    padding:          15px;
    vertical-align: top;
    color: white;


}
div#Form{
    font-size:        105%;
    margin: 10px 10px 0px 10px;
    padding:          15px;
    vertical-align: top;
    color: white;

}
footer {
    background-color: rgb(40,34,37);

    text-align:       center;
    padding:          15px;
    margin: 10px 0px 0px 10px;
    font-size:        90%;
}
