body {
    background: silver;
}
header.top {
    background-color: white;
    margin: 10px 10px 0px 10px;
    height: 150px;
}
header.top img#XzIbiT {
    float: right;
    height: 154px;
}

section {
    background-color: white;
    font-size:        105%;
    margin: 10px 10px 0px 10px;
    padding:          15px;
    vertical-align: top;
    color: black;


}
div#Form{

    font-size:        105%;
    margin: 10px 10px 0px 10px;
    padding:          15px;
    vertical-align: top;
    color: black;

}
footer {
    background-color: white;
    color: black;
    text-align:       center;
    padding:          15px;
    margin: 10px 0px 0px 10px;
    font-size:        90%;
}

div#log{
    float: right;
}